#canvas {
	border-style: solid;
	border-width: 3px;
	position:relative;
}

#buttons {
	position:relative;
	border-style:solid;
	border-color:#B8B8B8;
	}

.panel-button {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right:20%;
	border:2px solid black;
	padding:10px 30px; 
	background:#B8B8B8;
	letter-spacing:5px;
	width: 300;
	height: 50;
	font-weight: bold;
	text-transform: uppercase;
}

#controllers-panel-header {
	margin-top: 30px;
	margin-bottom: 30px;

	border:2px solid black;
	padding:10px 30px; 
	background:#dddddd;
	
	border-radius:25px;
}

#controllers-text {
	
	text-transform:uppercase;
	letter-spacing:5px;
	font-weight: bold; 
	display: inline;
}
.add-controller-button {
	background-color: black;
	color:white;
	display: inline-block;
	float:right;
	margin-top:-5px;
	border-radius:5px;


}


.controller-section ul li {
	display: inline;
}


.controller {
	float: left;
	margin-right:30px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
	border:2px solid black;
	padding:10px 30px; 
	background:#dddddd;
	width:200px;
	border-radius:25px;
}

.controller-header {
	border:2px solid black;
	padding:10px 30px; 
	background:#B8B8B8;
	border-radius:25px;
}

.controller-header-close-button {
background-color: black;
	color:white;
	display: inline-block;
	float:right;
	margin-top:-5px;
	border-radius:5px;

}

.controller-section {
	margin-top:10px;
	margin-bottom:10px;

}

.controller-button {
	margin-bottom: 10px;
	border:2px solid black;
	padding:10px 10px; 
	background-color: black;
	color:white;
	border-radius:50px;
}

.controller-dpad {
	position: relative;
	border-style: solid;
	border-width: 2px;
	width: 90;
	height: 90;
	border-radius:25px;
	margin-left: 25px;
    margin-right: auto;
    background-color: black;

}


.controller-dpad button {
	width: 30;
	height: 30;
	border-radius:25px;

}

.controller-dpad-button-up {
	position: absolute;
	top:0;
	left: 30;
}


.controller-dpad-button-down {
	position: absolute;
	bottom:0;
	left:30;
}

.controller-dpad-button-left {
	position: absolute;
	top:30;
	left: 0;
}

.controller-dpad-button-right {
	position: absolute;
	top:30;
	right: 0;
}

.controller-joystick {
	position: relative;

	border-style: solid;
	border-width: 2px;
	width: 90;
	height: 90;
	border-radius:25px;
	margin-left: 25px;
    margin-right: auto;
    background-color: black;

}

.controller-joystick-outer {
	background-color:white;
	border-radius: 50%;
	width: 90px;
	height: 90px; 
	position:absolute;
	margin:auto;
}
.controller-joystick-inner {
	background-color: black;
	border-radius: 50%;
	width: 30px;
	height: 30px; 
	position: relative;
	top:30px;
	left:30px;

}